@import "tailwindcss";

/* Variáveis de cores globais */
:root {
  --background: #ffffff; /* Fundo padrão (tema claro) */
  --foreground: #171717; /* Texto padrão (tema claro) */
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #de4949; /* Fundo para tema escuro */
    --foreground: #ededed; /* Texto para tema escuro */
  }
}

/* Estilos globais para responsividade */
body {
  background-color: var(--background); /* Cor de fundo dinâmica */
  color: #121010 ; /* Cor do texto dinâmica */
  font-family: 'Inter', sans-serif; /* Fonte padrão */
  font-size: 1.1rem; /* Tamanho de fonte padrão */
  line-height: 1.9; /* Espaçamento entre linhas */
  margin: 0;
  font-weight: 700;
  padding: 0;
}

/* Ajustes responsivos */
.container {
  max-width: 100%; /* Largura total por padrão */
  padding: 1.5rem; /* Espaçamento interno */
}

@media (min-width: 640px) { /* Tablet */
  .container {
    max-width: 640px; /* Largura máxima para tablets */
    margin: 0 auto; /* Centraliza o conteúdo */
  }
}

@media (min-width: 768px) { /* Dispositivos médios (web) */
  .container {
    max-width: 768px; /* Largura máxima para telas médias */
  }
}

@media (min-width: 1024px) { /* Desktop */
  .container {
    max-width: 1024px; /* Largura máxima para desktops */
  }
}